* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: white;
  background-color: hsl(338.18deg 80.49% 40.2%);
}

h1 {
  text-align: center;
  margin: 30px 0;
  font-weight: 900;
}

form {
  background-color: white;
  width: 80%;
  margin: 0 auto;
  border-radius: 20px;
}
.form-input-container {
  color: hsl(338.18deg 80.49% 40.2%);
  display: flex;
  justify-content: space-around;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 50px 0;
}

.btn-container {
  display: flex;
  justify-content: center;
}

button {
  margin: 30px 15px;
  color: hsl(338.18deg 80.49% 40.2%);
  padding: 5px;
}

h2 {
  text-align: center;
  margin-top: 15px;
}

.ticket-container {
  width: 80%;
  color: black;
  background-color: white;
  margin: 0 auto;
  border-radius: 15px;
}

h3{
    padding-bottom: 10px;
}
.ticket-container{
    padding: 20px;
}
.ticket {
  display: flex;
  border: 1px black solid;
  width: 95%;
  margin: 0 auto;
}

.ticket-name {
  background-color: gray;
  width: 25%;
  height: 100%;
  padding-bottom: 50px;
}

.ticket-details {
  display: flex;
  justify-content: space-around;
  flex-grow: 1;
  padding-top: 15px;
}

.ticket-detail {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.ticket.name{
 height: 100%;
}

.ticket-detail :first-child{
    font-weight: 800;
}

h4{
    padding: 15px;
}


.username-ticket{
    padding: 15px;
}
